.grid-container-topics{
        float: left;
        display: grid;
        grid-column-gap: 50px;
        grid-template-columns: 380px 380px 380px;
        margin-left: 60px;
        padding: 75px;
        margin-top: 20px;
    }
.upsertformTopic{
        position: absolute;
        z-index: 3;
        text-align: center;
        background-color: aliceblue;
        height: 350px;
        padding: 2%;
        width:350px;
        margin-top:30px;
        margin-left: 35%;
        border-radius: 35px;
        animation-name: bottom;
        animation-duration: 2s ;
}
@keyframes bottom {
        from {top: -600px;}
        to {top: 86px;}
      }
      .icon-delete{
              width:22px;
              height:22px;
              transition: 400ms;
      }
      .icon-delete:hover{
              width:27px;
              height:27px;
      }