#main-name{
        font-size: 400px;
}
.logo{
        width:30px;
        height: 30px;
        margin-right: 40px;
        transition:200ms;
}
.grid-container-subject-test{
        position: relative;
        
        float: left;
        display: grid;
        grid-column-gap: 50px;
        grid-template-columns: 390px 390px 390px;
        margin-left: 60px;
        padding-left: 75px;;    
}
.details{
        width:60px;
        height: 60px;
        transition:300ms; 
}
.logOut{
        widows: 40px;
        height: 40px;
        margin-top: 10px;
        margin-right: 20px;
        transition:300ms;
}
.logOut:hover{
        width: 43px;
        height:43px;
}
.details:hover{
        width:63px;
        height: 63px;
}
.logo:hover{
        width:35px;
        height: 35px;
}
.nav-link{
        font-size: 20px !important;
}
.mr-auto{
        margin-left: 40px !important;
}
.overlay {
        /* Height & width depends on how you want to reveal the overlay (see JS below) */   
        height: 0%;
        width: 100%;
        margin-top: 85px;
        position: fixed; /* Stay in place */
        z-index: 3; /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgb( 13,15,16); /* Black fallback color */
        background-color: rgb(13,15,16,0.9); /* Black w/opacity */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 1s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
      }
      
      /* Position the content inside the overlay */
      .overlay-content {
        position: relative;
        top: 25%; /* 25% from the top */
        width: 100%; /* 100% width */
        text-align: center; /* Centered text/links */
        margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
      }
      
      /* The navigation links inside the overlay */
      .overlay a {
        padding: 8px;
        text-decoration: none;
        color: #818181;
        display: block; /* Display block instead of inline */
        transition: 0.3s; /* Transition effects on hover (color) */
      }
      
      /* When you mouse over the navigation links, change their color */
      .closebtn {
        color: #f1f1f1;
        transform: rotateY(180deg)
      }
      
      /* Position the close button (top right corner) */
      .overlay .closebtn {
              z-index: 1;
        position: relative;
        font-size: 60px;
      }
      
      
      /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
      @media screen and (max-height: 450px) {
        .overlay a {font-size: 20px}
        .overlay .closebtn {
          font-size: 40px;
          top: 15px;
          right: 35px;
        }
      }
      .SubjectName{
          font-size: 35px;
          color:whitesmoke
      }
      .TestsName{
        font-size: 25px;
        color:whitesmoke
    }
    a:hover{
            cursor: pointer;
    }